/* header ------------------------------------------------- */

.header {
    height: 50px;
    background-color: #3F72AF;
}

.header__body {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* main ------------------------------------------------- */

main {
    /* min-height: calc(100vh - 200px); */
    /* min-height: 100vh; */
    padding: 15px 0;
}

/* block buttons "To garage" and "To winners" ------------------------------------------------- */

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    background-color: #F67280;
    color: #FFFFFF;
    border-radius: 3px;
}
.button:hover {
    background-color: #E23E57;
}

.garage-menu-btn {
    padding: 5px 7px;
    font-size: 1.5rem;
    font-weight: 500;
}

.winners-menu-btn {
    padding: 5px 7px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* block forms Create and Update ------------------------------------------------- */

.form {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 20px;
}

.create-name, .update-name {
    padding: 5px 7px 5px 5px;
    border-radius: 3px;
    border: 1px solid gray;
}
.create-name:focus, .update-name:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 5px 1px #3f72af;
}

.create-color, .update-color {
    border-radius: 3px;
    border: 1px solid #808080;
    cursor: pointer;
}

.create-btn {
    padding: 2px 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

.update-btn {
    padding: 2px 5px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* block Race Controls ------------------------------------------------- */

.race-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.race-button {
    padding: 2px 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.reset-button {
    padding: 2px 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.generate-button {
    padding: 2px 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

/* block Render Garage Titles ------------------------------------------------- */

.garage-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.garage-page {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.garage li{
  margin-bottom: 10px;
}

.garage li:last-child{
  margin-bottom: 35px;
}

/* block Render Car ------------------------------------------------- */

.general-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.select-btn {
    padding: 2px 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.remove-btn {
    padding: 2px 5px;
    font-size: 1.1rem;
    font-weight: 500;
}

.car-name {
    font-size: 1.1rem;
    font-weight: 500;
}

.road {
    position: relative;
    display: flex;
    align-items: center;
    /* gap: 70%; */
    border-bottom: 3px dashed #306199;
}

.launch-pad {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.control-panels {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn {
    padding: 2px 5px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 3px;
}

.start-engine-btn {
    background-color: #6495ed;
}
.start-engine-btn:hover {
    background-color: #2468e6;
}

.stop-engine-btn {
    background-color: #897eec;
}
.stop-engine-btn:hover {
    background-color: #5d4deb;
}

.message {
    font-size: 2.5rem;
    font-weight: 500;
    color:#E23E57;
    text-align: center;
}

.car {
    position: absolute;
    top: 0px;
    left: 6%;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes race {
    from {
      left: 6%;
    }
    to {
      left: calc(100% - 90px);
    }
}


.flag {
    position: absolute;
    top: -9px;
    right: 7%;
}

/* block Render Winners Titles ------------------------------------------------- */

.winners-view {
    margin-bottom: 25%;
}

.winners-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.winners-page {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/* block Winners Table ------------------------------------------------- */

.thead {
    background-color: #3F72AF;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 1.5rem;
}

.tr {
    text-align: center;
}

.sort-wins:hover, .sort-time:hover {
    cursor: pointer;
    background-color: #112D4E;
}

/* block Pagination ------------------------------------------------- */

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.prev-button {
    padding: 5px 10px;
    font-size: 1.5rem;
    font-weight: 700;
}

.pagination-pages {
    font-size: 1.7rem;
    font-weight: 500;
}

.next-button {
    padding: 5px 7px;
    font-size: 1.5rem;
    font-weight: 700;
}

/* footer ------------------------------------------------- */

.footer {
    height: 75px;
    background-color: #112D4E;
}

.footer__body {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__github-link:hover svg {
    fill: #E23E57;
    transition: all 0.3s ease;
}

.footer__year {
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__rs-link svg {
    width: 50px;
    height: 50px;
}

.footer__rs-link:hover g {
    fill: #E23E57;
    transition: all 0.3s ease;
}

/*global class ------------------------------------------------- */
.disabled {
    background-color: #000000;
    opacity: 0.3;
}
.disabled:hover {
    background-color: #000000;
}